<div class="jumbotron text-center">
  <h1>Welcome to Dev Match</h1>
  <h3>Dev Match is a place where entepreneur can meet developper</h3> 
</div>

<div class="row">
  <% if user_signed_in? %>
    <%= render 'pages/home/home_signed' %>
  <% else %>
    <%= render 'pages/home/home_public' %>
  <% end %>
</div>